foundations/api_fundamentals/ai-chat-bot/.env
phase_2_active/openai_api/week1_day1-2/.env
phase_2_active/openai_api/week1_day3-5/.env
phase_2_active/openai_api/week1_day6-8/.env
phase_2_active/openai_api/week1_day6-8/cost_tracker.db
phase_2_active/openai_api/week1_day6-8/summary_20251205_201102.json
phase_2_active/openai_api/week1_day9-10/.env
api_errors.log
phase_2_active/langchain_fundamentals/week2_day11-13/.env
phase_2_active/langchain_fundamentals/week2_day14-16/.env
phase_2_active/langchain_fundamentals/week2_day17-19/.env
phase_2_active/langchain_fundamentals/week2_day20-21/.env
